#img-src{
  padding-right: 50px;
}


body
{
    color:red;
    background-color:black ;
    background-origin: padding-box;
    border:10px;
}
h1{
  font-family:Graphique-AR;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
  font-size: 70px;
}




button#get-weather{
  background-color:red;
  font-weight: bolder;
  }

#map{
  width: 1150px;
  height: 400px;
  background-color: white;

}
